/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Press+Start+2P&family=Rubik+Glitch&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Style Settings */
html,body {
	--primary-dark-color: #000000;
	--primary-normal-color: #868686;
	--primary-light-color: #ffffff;
	--accent-color: #993b3b;
	--highlight-color: #5fe0e9;
	font-size: 12;
	height: 100vh;
	width: 100vw;
	min-height: 640px;
	min-width: 640px;
	/* overflow-x: hidden;
	overflow-y: hidden; */
}
*,
*::before,
*::after {
	font-family: 'Source Code Pro';
	font-weight: 700;
	color:black;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Text Theme */
h1 {
	font-weight: 300;
	/* font-family: "Rubik Glitch"; */
	font-size: 2em;
}

h2 {
	font-weight: 700 bold;
	font-size: 1.75em;
}

h3 {
	font-weight: 500 bold;
	font-size: 1.5em;
}

h4 {
	font-weight: 500;
	font-size: 1.25em;
}

h5 {
	font-weight: 400 bold;
	font-size: 1em;
}

h6 {
	font-weight: 300 bold;
	font-size: .5em;
}


button{
	font-weight: 300;
	font-family: "Rubik Glitch";
	font-size: 2em;
}


/* Color Theme */
.primary-dark-color{
	background-color: var(--primary-dark-color);
}
.primary-normal-color{
	background-color: var(--primary-normal-color);
}
.primary-light-color{
	background-color: var(--primary-light-color);
}
.accent-color{
	background-color: var(--accent-color);
}
.highlight-color{
	background-color: var(--highlight-color);
}




/* Component Themes */



/* PAGE SIZING ADJUSTMENTS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/**/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/**/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/**/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/**/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/**/
}
