.greeting-nav-button {
	position: absolute;
	text-align: center;
	justify-content: center;
	top: 0px;
	right: 0px;
	min-width: 50px;
	min-height: 50px;
	height: 4vw;
	width: 4vw;
	background-color: white;
	border: .1em solid black;
	color: black;
	padding: .1em;
	margin: .1em;
	border-radius: .2em;
}

.greeting-nav-button:hover{
	background-color: red;
	color: white;
	border: .1em solid red;
}