.project-cards-container {
	float: right;
	height: 100%;
	width: 100%;
	background-color: hsl(0, 25%, 94%);
	border: 2px black solid;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
}

.project-card {
	height: 50%;
	width: 50%;
	min-height: 20vw;
	min-width: 20vw;
	max-height: 25vw;
	max-width: 25vw;
	border: black 2px solid;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-size: 50%;
}