.flexbox-container {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0px;
	border: 5px solid black;
	align-content: flex-start;
}

.box{
	border: 3px solid pink;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	width: 20vh;
	height: 20vh;
	
}

p {
	border: 3px solid cyan;
}