/* STYLES */

/* App Level Inheritance */
.landing-page-container{
	box-sizing: inherit;
	display: flex;
	height: 100vh;
	border: 2px solid white;
}

.greeting-section-container{
	display: flex;
	float: left;
	width: 100%;

}

.menu-section-container {
	float: right;
	width: 0%;
	visibility: hidden;
}


nav{
	display: flex;
	align-items: center;
	float: left;
	border: 2px solid #372772;
	padding: 0;
	margin: 0;
}

nav > * {
	background-color: var(--primary-dark-color);
	color: var(--accent-color);
	border: .1em solid var(--accent-color);
	padding: .25em .5em;
	border-radius: .5em;
	max-height: 4em;
	max-width: 8em;
}

i{
	float: right;
	height: 5em;
	width: 5em;
	background-color: var(--primary-light-color);
	border: 2px solid var(--primary-dark-color);
}
